<!doctype HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/style.css">
		<script src="{{url_for('router.send_formHandler')}}" defer></script>
		<title>Projekt zaliczeniowy</title>
	</head>
	<body>
		<form id="addMessageForm">
			<label for="usernameField">Username:</label>
			<input type="text" name="username" id="usernameField" placeholder="username">
			<label for="messageField">Message:</label>
			<input type="text" name="message" id="messageField" placeholder="message">
			<input type="button" onclick=sendData() value="Add message">
		</form>
		<div id="messages">
			{% if messages|length == 0 %}
				<p id="no-messages">There are no messages</p>
			{% else %}
				{% for message in messages|reverse %}
				<div class="message">
				<p>Date: {{message[2]}}</p>
				<p>Author: {{message[1]}}</p>
				<p>{{message[0]}}</p>
				</div>
				{% endfor %}
			{% endif %}
		</div>
	</body>
</html>